 /*
 *Author:kc;
 *BeginTime:2015/08/03;
 *EndTime:---;
 */

 html,body,.container{position:relative;}
 .container{display:flex; flex-direction:column;}

 header{display:flex; flex-flow:column; align-items:center;}
 header .ball_header{height:75px; background-image:linear-gradient(#03131D,#1d3f57); position:fixed; right:0px; left:0px; z-index:9999;}
 header .ball_bar{height:55px; width:955px; margin-top:75px;background-color:#ededec; position:relative;}
 header .ball_detail{height:71px; width:955px; background-color:#03131d;}
 .ball_bar ul li{display:inline-block; width:191px;}
 
 .ball_bar ul li a{display:block; text-align:center; font:17px/55px '微软雅黑',"Microsoft YaHei";}
 .ball_bar ul li a:hover{width:191px; height:55px; text-decoration:none; background:url(../img/header&fronter_spirit.png) 0px -446px no-repeat; color:#fff;}
 .ball_bar ul>div.line{width:1px; height:30px; margin-top:-43px; background-color:gray;}
 footer{height:163px; background-image:linear-gradient(#03131D,#1d3f57);}

 .ball_content{flex:1; display:flex; width:955px; align-self:center;}
 .ball_content .left{position:relative;min-height:1600px; width:160px; border-right:1px gray solid; background-color:#ededec;}
 .ball_content .right{flex:1; background-color:#ededec;}
 .left .side ul li{background-color:#c8dde2;}
 .left .side ul li a{display:block; height:56px; font:bold 12px/56px '微软雅黑',"Microsoft YaHei"; text-decoration:none; text-align:center;}
 .left .side ul li a:hover{background-color:#ededec;}
 .left .side ul>div.line2{margin-left:10px; width:140px; height:1px; background-color:gray;}
